@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$color_black: #000;
$color_white: #fff;
$regular: 400;
$bold: 700;
$fs-22: 22px;
$fs-17: 17px;
$fs-12: 12px;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

%links{
  list-style: none;
  color: $color_black;
  font-weight: $regular;
  padding: 5px 15px;
  border: 1px solid transparent;
  font-size: $fs-22;
}


body{
  background-color: $color_white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 50px;
  overflow: hidden;
}
.left_part{
  position: absolute;
  left: -240px;
  bottom: 300px;
  transform: rotate(-90deg);
  animation-name: spinning;
  animation-duration: 7s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @include max-screen(767px){
    transform: rotate(0deg);
    width: 100%;
    height: 40px;
    position: relative;
    top: 0;
    left: 50px;
    animation-name: left_right;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .fas{
    color: #b2b2b2;
    transform: rotate(90deg);
    display: inline-block;
    font-size: $fs-22;
    @include max-screen(767px){
      transform: rotate(0);
      font-size: $fs-12;
      position: relative;
      bottom: -17px;
    }
    }
  p {
    font-size: $fs-22;
    font-weight: $bold;
    color: $color_black;
    display: inline-block;
    margin-left: 100px;
    @include max-screen(767px){
      display: block;
      font-size: $fs-12;
      margin: 0 0 5px 40px;
    }

  }
  span {
    font-size: $fs-22;
    font-weight: $regular;
    color: #b2b2b2;
    @include max-screen(767px){
      font-size: $fs-12;
    }
  }
}
.right_part{
  background-image: url('../images/body_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 95%;
  text-align: center;
  float: right;
  position: relative;
  @include max-screen(767px){
    background-image: url('../images/blow_img_mobile.png');
    width: 100%;
    float: none;
    height: 90vh;
  }
  @include max-screen(420px){
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTpgsKg3Gp2RZEYQTF0kPvSYWX03FT__PHLng&usqp=CAU');
  }
  /*@include max-screen(420px){
    background-position-x: 60%;
  }*/
  header {
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    @include max-screen(767px){
      padding-top: 50px;
    }
    .logo_header {
      width: 104px;
      height: 30px;
      @include max-screen(420px) {
        animation-name: flashing_logo;
        animation-duration: 10s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      img {
        width: 100%;
        height: 100%;
      }

    }
  }
  .center_inscription{
    display: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: $bold;
    color: $color_white;
    animation-name: flashing;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @include max-screen(420px){
      display: block;
    }
    @include max-screen(320px){
      font-size: 40px;
    }
  }
}


nav{
  ul{
    li{
      display: inline-block;
      @include max-screen(767px){
        display: block;
      }
      a{
        @extend %links;
        @include max-screen(767px){
          padding: 5px 10px;
          font-size: $fs-17;
          color: $color_white;
        }

      }
      a:hover{
        background-color: $color_black;
        color: $color_white;
        -webkit-border-radius: 100px 100px 100px 100px;
        border-radius: 100px 100px 100px 100px;
      }
    }
  }
}
.right_part .last_link a{
  @extend %links;
  color: $color_white;
  background-color: $color_black;
  border-radius: 5px;
  text-transform: uppercase;
  position: absolute;
  bottom: 10%;
  left: 40%;
  animation: jump 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate;
  @include max-screen(767px){
    font-size: $fs-17;
    padding: 5px 10px;
    bottom: 100px;
    left: 200px;
  }
  @include max-screen(420px){
    left: 120px;
  }
  @include max-screen(375px){
    left: 100px;
  }
  @include max-screen(320px){
    left: 80px;
  }
}
@keyframes spinning {
  0%{
    bottom: 0;
  }
  25%{
    bottom: -60vh;
    opacity: 0;
  }

  50%{
    bottom: -120vh;
    opacity: 0;
  }
  51%{
    bottom: 120vh;
  }
  60%{
    opacity: 1;
  }
  75%{
    bottom: 60vh;
  }
  100%{
    bottom: 0;
  }
}
@keyframes jump {
  0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
  100% { bottom: 20px; box-shadow: 0 50px 50px rgba(0,0,0,0.1); }
}
@keyframes left_right {
  0%{
    left: 0;
  }
  50%{
    left: -100%;
    opacity: 0;
  }
  51%{
    left: 100%;
  }
  100%{
    left: 0;
  }
}
@keyframes flashing {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
    font-size: 30px;
  }
  100%{
    opacity: 1;
  }
  
}
@keyframes flashing_logo {
  0%{
    background-color: transparent;
  }
  50%{
    background-color: #453021;
  }
  100%{
    background-color: transparent;
  }
}